*{
box-sizing:border-box;
font-family:Arial, sans-serif;
}


body{

margin:0;
height:100vh;

display:flex;
justify-content:center;
align-items:center;

background:
linear-gradient(
135deg,
#123,
#245
);

}


.login-container{

background:white;

padding:40px;

width:350px;

text-align:center;

border-radius:20px;

box-shadow:0 10px 30px #0005;

}


h1{

color:#16365c;

}


.accesos button{


width:100%;

padding:15px;

margin:10px 0;

border:0;

border-radius:10px;

background:#16365c;

color:white;

font-size:16px;

cursor:pointer;


}


.accesos button:hover{

background:#1f5f9c;

}
