.oculto{
    display:none;
}

.panel{
    display:flex;
    gap:15px;
    padding:20px;
}

.card{
    background:#000;
    color:#d4af37;
    padding:20px;
    border-radius:10px;
    cursor:pointer;
}

header{
    background:#111;
    color:#d4af37;
    padding:15px;
    display:flex;
    justify-content:space-between;
}
